p{
    font-weight: bold;
    font-size: 20px;
}

#top{
    text-decoration: underline;
}

.emphasizedText{
    font-style: italic;
    color:cornflowerblue
}

body{
    background-color:aliceblue;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    Text-align:center;
    border: 5px solid black;
    margin: 20px;
    padding: 10px;
}

ul{
    list-style-position: inside;
}

ol{
    list-style-position: inside;
}

div.container {
    text-align: center;
}

ul.myUL{
    display: inline-block;
    text-align: left;
}
ol.myOL{
    display: inline-block;
    text-align: left;
}
img{
    display: block;
    Margin-left: auto;
    Margin-right: auto;
    width: 40%;
    border:5px solid #555;
}

